body {
    background: linear-gradient(90deg, rgb(255, 255, 255) -1%, #ffee00 49.88%, #00ccff 100%);
}

.w {

    
    width: 500px;
    border-radius: 70px;
    margin: 0 auto;
    padding-top: 10px;
    
    backdrop-filter: blur(10px);
}

.nav {
    text-align: center;
}

h1 {
    text-align: center;
    font-size: 50px;
    font-weight: 300;
    margin-top: 30px;
}

h2 {
    text-align: center;
    margin-bottom: 20px;
    font-weight: 300;

}


a {
    color: rgb(0, 0, 0);
    text-decoration: none;
    font-size: 26px;
    font-weight: 200;
    display: inline-block;
    width: 200px;
    height: 70px;
    background: rgb(255, 255, 255);
    text-align: center;
    line-height: 70px;
    margin-left: 20px;
    margin-right: 20px;

    box-shadow: 0px 3px 5px rgba(223, 175, 114, 0.3);
    border-radius: 70px;

}

a:hover {
    background: linear-gradient(90deg, #fffffe -1%, #eeff00 49.88%, #ffc400 100%);

}



.container {


    width: 950px;
    margin: 0 auto;
    padding-bottom: 50px;

}

.block {

    width: 300px;
    height: 200px;
    background-color: white;
    border-radius: 500px;
    box-shadow: 0px 8px 24px rgba(223, 175, 114, 0.3);
    display: inline-block;
    margin: 0 auto;
    margin-top: 20px;
    margin-left: 5px;
    margin-right: 5px;
    padding-left: 10px;
    box-sizing: border-box;


}